:root{
    --gray-100: #dddddd;
    --gray-200: #aaaaaa;
    --gray-300: #999999;
    --gray-400: #777777;
    --gray-500: #555555;
    --gray-600: #333333;
    --blue-100: #aaaaff;
    --blue-200: #9999ff;
    --blue-300: #7777ff;
    --blue-400: #5555ff;
    --blue-500: #3333ff;
    --blue-600: #1111ff;
    --green-100: #aaffaa;
    --green-200: #99ff99;
    --green-300: #77ff77;
    --green-400: #55ff55;
    --green-500: #33ff33;
    --green-600: #11ff11;
    --red-100: #ffaaaa;
    --red-200: #ff9999;
    --red-300: #ff7777;
    --red-400: #ff5555;
    --red-500: #ff3333;
    --red-600: #ff1111;
}
.button__check{
    border: 2px solid rgba(255, 55, 55, 0.5);
    background-color: rgba(255, 55, 55, 0.25);
    color: var(--green-100);
    font-weight: 700;
}
header h1{
    color: var(--red-400);
}
header h1, header h2{
    position: relative;
}
header .subtitle{
    color: var(--red-200);
}
header .container-fluid{
    border-width:3px;
    border-color: rosybrown;
    border-style:outset;
}
header .container-fluid::before{
    content:"";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 255, 0.4);
}
body{
    background-image: url("https://pbs.twimg.com/media/D5_jlQxWsAMlxWy?format=jpg&name=large");
    background-size: cover;
    height: 500px;
}
main .container{
    background-color: rgba(0, 0, 255, 0.2);
    min-height: 400px;
    border-radius: 0 0 30px 30px;
    border-width: 0 3px 3px 3px;
    border-color: rosybrown;
    border-style:outset;
}